h1,h2{
    text-align: center;
    margin-top: 30px;
}

h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2{
    color: blueviolet;
}

.container{
    padding: 2%;
    width: 96%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(8, 400px);
    padding: 20px;
    grid-gap: 20px;
    
    margin: auto;
}

.card{
    max-width: 300px;
    box-shadow: 0 0 10px blueviolet;
}